<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/headerLogin'); %>
    </header>
    <div class="container">
        <h3 class="d-block mx-auto my-5 text-center">Login</h3>
        <%- include('../partials/formularioLogin'); %>
    </div>
    <br>
    <%- include('../partials/footer'); %>
        <!--    scripts     -->
        <script type="text/javascript" src="../../../src/controllers/session/session.controllers.js"></script>
        
</body>

</html>